/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
h1,
.text-dark h1 {
    color: rgb(155, 47, 43) !important;
}

#header .header-inner,
#header #header-wrap {
    background-color: #fff !important;
}

#mainMenu nav>ul>li>a,
.p-dropdown a:not(.btn),
i.icon-globe,
address strong,
.widget-title {
    color: rgb(155, 47, 43) !important;
}

p {
    font-size: 18px;
    font-weight: 400;
}